<div class="backgroundList">
  <div class="flex-container">
    <div class="searchBar mx-auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar banda" aria-label="Recipient's username"
          aria-describedby="button-addon2">
      </div>
    </div>
    <button class="btn btn-primary addButton">Add Band</button>
    <div class="line"></div>

    <div class="bandList">
      <ul class="list-group mx-auto">
        <li class="list-group-item" *ngFor="let item of allBands; let index = index">
          <div class="row">
            <div class="col">
              <img class="bandImage" src="{{item.photo}}" alt="">
            </div>
            <div class="col">
              <div class="textCol">
                <h1>{{item.name}}</h1>
                <h3>{{item.year}}</h3>
                <a routerLink="/bandDetail" class="btn btn-primary detailButton">Ver Detalle</a>
              </div>
            </div>
            <div class="col">
              <div (click)="mediaIcon(index)">
                <a>
                  <img class="mediaIconStart" src="../../../assets/icons/round-play-button.png" alt="playButton"
                    *ngIf="booleanBands[index]">
                </a>
                <a>
                  <img class="mediaIconStart" src="../../../assets/icons/pause.png" alt="playButton"
                  *ngIf="!booleanBands[index]">
                </a>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
