.backgroundHome {
  background-image: url(../../../assets/images/hector-bermudez-iIWDt0fXa84-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  .homeText {
    margin-top: -200px;
    color: white;
    text-align: center;
    text-shadow: black;
    .title {
      font-size: 6vw;
      font-weight: bolder;
      font-family: "RocknRoll One", sans-serif;
      @media (max-width: 767px) {
        font-size: 40px;
      }
    }
    .subtitle {
      font-size: 1.5vw;
      font-weight: bolder;
      font-family: "RocknRoll One", sans-serif;
      @media (max-width: 360px) {
        font-size: 15px;
      }
    }
  }
  .btn-danger {
    width: 15%;
    color: white;
    margin-bottom: 175px;
    min-width: 175px;
    font-weight: bolder;
    font-family: "RocknRoll One", sans-serif;
    background-color: rgb(255, 79, 79);
    border-radius: 20px;
    border-color: transparent;
    padding: 1rem;
    box-shadow: 0 0 15px black;
    &:hover {
      background-color: rgb(255, 51, 51);
      border-color: white;
    }
  }
}
