.backgroundDetail {
  background-color: black;
  width: 100%;
  height: 100vh;
  .flex-container {
    .bandImage{
      width: 100%;
      min-height: 60vh;
      margin-top: 150px;
      border-radius: 20px;
      border-color: white;
      border-style: solid;
    }

  }

}
