<div class="backgroundDetail">
  <div class="flex-container">
    <div class="container">
      <div class="row">
        <div class="col">
          <a routerLink="/bandList" class="btn btn-primary detailButton">Back</a>
        </div>
        <div class="col-md-auto">
          <a class="btn btn-primary editButton">Edit</a>
        </div>
        <div class="col col-lg-2">
          <a class="btn btn-primary detailButton">Delete</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <img class="bandImage" src="../../../assets/images/bandImages/51QmOMYg4jL._AC_SX425_.jpg" alt="">
        </div>
        <div class="col-8">
          <ul class="list-group">
            <li class="list-group-item">
              <h1>{{band.name}}</h1>
              <div class="line"></div>
            </li>
            <li class="list-group-item">
              <h3>Description</h3>
              <p>{{band.description}}</p>
            </li>
            <li class="list-group-item">
              <h3>Members</h3>
              <div class="container">
                <div class="row" style="text-align: center;">
                  <div class="col">
                    <img class="memberImage" src="../../../assets/images/15539599875236.jpg" alt="">
                    <h3>Micky Jagger</h3>
                  </div>
                  <div class="col">
                    <img class="memberImage" src="../../../assets/images/15539599875236.jpg" alt="">
                    <h3>Micky Jagger</h3>
                  </div>
                  <div class="col">
                    <img class="memberImage" src="../../../assets/images/15539599875236.jpg" alt="">
                    <h3>Micky Jagger</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <h3>Most Popular Songs</h3>
              <ul class="list-group" style="margin-top: auto;">
                <li class="list-group-item">
                  <div class="display-inline">
                    <h3>OUT OF THE TIME - 1996</h3>
                  </div>
                  <div class="line"></div>
                </li>
                <li class="list-group-item">
                  <div class="display-inline">
                    <h3>OUT OF THE TIME - 1996</h3>

                  </div>
                  <div class="line"></div>
                </li>
                <li class="list-group-item">
                  <div class="display-inline">
                    <h3>OUT OF THE TIME - 1996</h3>

                  </div>
                  <div class="line"></div>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
